.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  background: lightgrey !important;
  min-width: 400px !important;
}

.header {
  background: #fff;
  padding: 0;
}

.content {
  margin: 24px 16px 0;
  overflow: initial;
}
